- const tabs = [{title: "Current openings", url: "/"}, {title: "Companies", url: "/companies"}, {title: "Keywords", url: "/keywords"}]

div.drawer.w-11_12.max-w-4xl.mx-auto
  input#my-drawer-3.drawer-toggle(type='checkbox')
  div.drawer-content.flex.flex-col
    // Navbar
    div.navbar.w-full
      div.flex-none.md__hidden
        label.btn.btn-square.btn-ghost(for='my-drawer-3' aria-label='open sidebar')
          svg.inline-block.h-6.w-6.stroke-current(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
      div.mx-2.flex-1.px-2 Job Scout
      div.hidden.flex-none.md__block
        ul.menu.menu-horizontal
          each tab in tabs
            if tab.title === page
              li.prose-sm.pl-0.font-medium
                a.text-secondary(
                  href=tab.url
                  hx-get=tab.url
                  hx-target="#body"
                  hx-push-url="true"
                )= tab.title
            else
              li.prose-sm.pl-0.hover__border-b-secondary
                a.hover__text-secondary(
                  href=tab.url
                  hx-get=tab.url
                  hx-target="#body"
                  hx-push-url="true"
                )= tab.title
  div.drawer-side
    label.drawer-overlay(for='my-drawer-3' aria-label='close sidebar')
    ul.menu.bg-base-100.min-h-full.w-80.p-4.z-50
      each tab in tabs
        if tab.title === page
          li.prose-sm.pl-0.font-medium
            a.text-secondary(
              href=tab.url
              hx-get=tab.url
              hx-target="#body"
              hx-push-url="true"
            )= tab.title
        else
          li.prose-sm.pl-0.hover__border-b-secondary
            a.hover__text-secondary(
              href=tab.url
              hx-get=tab.url
              hx-target="#body"
              hx-push-url="true"
            )= tab.title