doctype html
html(data-theme="pastel")
  head
    meta(charset='UTF-8')
    title Job Scout

    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap", rel='stylesheet')
    link(rel='stylesheet', href='styles.css')

    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

  body.bg-base-200.repeating-dot-background
    header.prose.prose-a__no-underline.py-6.w-11_12.max-w-4xl.mx-auto
      h1.mb-0.prose.prose-lg
        a(
          href='/'
          hx-get='/'
          hx-target='#content'
          hx-push-url=true
        ) Job Scout

    main#content.w-11_12.mt-8.max-w-5xl.mx-auto
      case content 
        when 'login'
          include login.pug
        when 'error'
          include error.pug
        when 'current jobs'
          h2.prose.prose-2xl.text-center.mb-8 Your current openings
          div#current_jobs(
            hx-get="/current_jobs"
            hx-trigger='load'
            hx-target="#current_jobs"
          )
            div.htmx-indicator.flex.gap-2
              span.loading.loading-spinner.loading-sm 
              p Fetching your jobs