section.prose.w-11_12.max-w-xl.mx-auto
  div.relative.z-10
    div.bg-white.py-8.px-6.rounded-md
      h2.prose.prose-xl.text-primary-content.font-semibold.m-0 Welcome to Job Scout
      p.mt-4 We're happy that you are joining the club! 
        a(
          href="/login"
          hx-get="/login"
          hx-push-url="true"
          hx-target="#content"
        ).text-neutral Log in here 
        span if you are already signed up.
      if error
        p.text-error= error
      form.flex.flex-col.gap-4(
          hx-post='/sign-up',
          hx-trigger="submit",
          hx-target="#content",
          hx-push-url="/"
          hx-disabled-elt="#submit"
      )
        label.form-control.w-full
          div.label.pt-0.pb-2
            span.label-text.font-medium.prose.prose-md.m-0 Email
          input.input.input-bordered.w-full.rounded#email(type="email", placeholder="example@email.com", required, name="email", hx-preserve)
          p.mt-1.mb-0
        label.form-control.w-full
          div.label.pt-0.pb-2
            span.label-text.font-medium.prose.prose-md.m-0 First name
          input.input.input-bordered.w-full.rounded#email(type="text", placeholder="Pedro", required, name="name", hx-preserve)
          p.mt-1.mb-0
        label.form-control.w-full
          div.label.pt-0.pb-2
            span.label-text.font-medium.prose.prose-md Password
          input.input.input-bordered.w-full.rounded#password(type="password", placeholder="********", required, minlength=6, name="current-password", autocomplete)
        label.form-control.w-full
          div.label.pt-0.pb-2
            span.label-text.font-medium.prose.prose-md Confirm Password
          input.input.input-bordered.w-full.rounded#confirm-password(type="password", placeholder="********", required, minlength=6, name="confirm-password", autocomplete)
        button#submit.relative.btn.btn-primary.rounded Sign up
          div.absolute.-inset-1.w-full.htmx-indicator.flex.gap-2.bg-white.flex.justify-center
            span.loading.loading-spinner.loading-sm 
            p Authenticating... 
    span.block.absolute.-left-2.-bottom-2.top-1.right-1.bg-accent.behind.rounded-md